<header class="header pow">
    <h1 class="logo">G.A-Fighter's</h1>
    <div class="d-flex flex-row justify-content-between">
        <a href="/index/<%= accountId %>" class="btn btn-primary">Back</a>
        <a href="/index" class="btn btn-primary">Logout</a>
    </div>
</header>