<% statStr=['health','mana','attack','defence','spclAttack','spclDefence','exp'] %> 
<% statAttr=['hp','mp','atk','def','spAtk','spDef','exp'] %> 
<div class="fighter" id="player" style="background-image: url('<%= avatar.img %>');" 
        <% for(i=0;i<statStr.length;i++){ %>   
            <%= statAttr[i] %>="<%= avatar.stats[statStr[i]].toString() %>" 
        <% } %> 
        name="<%= avatar.name %>" 
    >
    <div class="attack hitbox hidden" id = "player-attack"></div>
</div>

