<% statStr=['health','mana','attack','defence','spclAttack','spclDefence'] %> 
<% statAttr=['hp','mp','atk','def','spAtk','spDef'] %> 
<div class="fighter" id="player" style="background-image: url('<%= character.img %>');" 
        <% for(i=0;i<statStr.length;i++){ %>   
            <%= statAttr[i] %> = "<%= character.stats[statStr[i]] %>" 
        <% } %> 
    >
    <div class="player-attack hitbox" id = "player-attack"></div>
</div>

<%# console.log(character.stats[statStr[0]]) %> 