<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script defer src="/js/bootstrap.bundle.js"></script>
    <title>Sign Up</title>
</head>
<body class="body">
    <!-- HEADER START -->
    <%- include('partials/mini-header.ejs')  %> 
    <!-- HEADER END -->
    <h3 class="text-center">Create an Account</h3>
    <!-- MAIN START -->
    <main class="main-show">
        <form action="/index" method="post" class="form text-center p-5">
            <h3 class="text-center">Sign-up Form</h3>
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Confirmation</label>
                <input type="password" name="confirm" class="form-control">
            </div>
            <div class="main">
                <button type="submit" class="btn btn-primary">Sign-up</button>
                <p><a href="/index" class="link">Back to Login</a></p>
            </div>
        </form>
    </main>
    <!-- MAIN END -->
</body>
</html>
