<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <script defer src="./js/bootstrap.bundle.js"></script>
    <title>Profile</title>
</head>
<body>
    <h1>Welcome, [user]</h1>
    <a href="settings.html">settings</a>
    <a href="index.html">Logout</a>
    <main class="character-container">
        <a href="game.html" class="game-link">
            <div class="character">
                <img src="https://picsum.photos/id/10/200/200" alt="" class="character-image">
                <div>
                    <p class="character-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam in cum velit perferendis corrupti laudantium! Natus exercitationem nobis itaque ipsum necessitatibus illo, maxime, neque numquam alias ipsam deleniti voluptate quibusdam!</p>
                </div>
            </div>
        </a>

        <a href="game.html" class="game-link">
            <div class="character">
                <img src="https://picsum.photos/id/10/200/200" alt="" class="character-image">
                <div>
                    <p class="character-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam in cum velit perferendis corrupti laudantium! Natus exercitationem nobis itaque ipsum necessitatibus illo, maxime, neque numquam alias ipsam deleniti voluptate quibusdam!</p>
                </div>
            </div>
        </a>

        <a href="game.html" class="game-link">
            <div class="character">
                <img src="https://picsum.photos/id/10/200/200" alt="" class="character-image">
                <div>
                    <p class="character-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam in cum velit perferendis corrupti laudantium! Natus exercitationem nobis itaque ipsum necessitatibus illo, maxime, neque numquam alias ipsam deleniti voluptate quibusdam!</p>
                </div>
            </div>
        </a>
        
    </main>


    <a href="new-character.html">New Character</a>
</body>
</html>