<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLES -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <!-- SCRIPTS -->
    <script defer src="/js/bootstrap.bundle.js"></script>
    <title>Profile</title>
</head>
<body class="body">
<!-- HEADER START -->
    <header class="header text-center d-flex flex-column">
        <h1 class="display-1">Welcome, <%= user.name %> </h1>
        <div class="d-flex flex-row justify-content-between">
            <a href="/index/<%= user.account %>/edit" class="btn btn-primary">Settings</a>
            <a href="/index" class="btn btn-primary">Logout</a>
        </div>
    </header>
<!-- HEADER END -->
    <h3 class="text-center">The best experience awaits!. </h3>
    <a href="/index/<%= user.account %>/new" class="btn btn-outline-info">New Character</a>
<!-- MAIN START -->
    <main class="main-show character-container d-flex  justify-content-center flex-wrap">
        <%   if (user.avatars.length < 1){ %>
            <h4>No Avatars Available.</h4>
            <%   }else { %>
        <% for(i = 0; i < user.avatars.length ; i++){ %> 
        <%- include('partials/avatar-show.ejs') %>
        <% } %>  
        <% } %> 
    </main>
<!-- MAIN START -->          
</body>
</html>