.body{
    width: 80%;
    height: 90vh;
    margin: 2em auto;
    font-size: 25px;
    background-color: #345472;
    background-image: url('https://free4kwallpapers.com/uploads/originals/2020/05/11/gradient-wallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.header{
    font-size: 1.2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('');
    color: rgba(201, 203, 206, 0.961);
}
.main, .main-show{
    color: black;
    padding: 1em;
    border: black solid 2px;
    background-color: rgba(235, 229, 221, 0.426);
}
.card-stats{
    color: black;
    background-color: #adb1b5bb;
    border: black solid 2px;
}
.notification{
    background-color: rgba(255,255,255,0.5);
    align-self: center;
    height: 300px;
    width: 500px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 30px;
}

#notification-message{
    font-size: 40px;
    color: black;
}
.name-tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h4{
    margin: 0 10px;
}

.fighter{
    position: absolute;
    background-size: 100% 100%;
    height: 150px;
    width: 100px;
    box-shadow: 1px 1px 2px white, 0 0 25px white, 1px 1px 5px white;
    border: 2px black solid;

}

#player{
    transform: translate(100px,100px) rotateZ(45deg);
    z-index: 3;

}

.attack{
    height: 50px;
    width: 50px;
    transform: translate(100px);
}


.fire {
    position: absolute;
    height: 20px;
    width: 20px;
}

.hitbox {
    background-color: red;
}


.hidden{
    display: none;
}

.game-window{
    background-color: gray;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.stat-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-container{
    display: flex;
    flex-direction: row;
}
.character-buttons{
    display: flex;
    flex-direction: column;
}

p{
    color: black;
    margin: 20px;
}

.character{
    display: flex;
    flex-direction: column;
}

.game-link{
    text-decoration: none;
    border: black solid 2px;
    margin: 20px;
    display: flex;

}

.game-window{
    height: 500px;
    width: 800px;
    border: 2px solid black;
}

.info-display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.hp{
    width: 350px;
    height: 30px;
    margin: 0 10px;
}

.mp{
    width: 350px;
    height: 30px;
    margin: 0 10px;
}
.mp::-webkit-meter-optimum-value{
    background-color: blue;
}

#enemy-hp{
    transform: scaleX(-1);
}

.btn{
    background-color: rgb(143, 128, 128);
    margin: 1em;
    border: 1px solid black;
}

.stat-control{
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
    margin: 10px;
}

.stat-input{
    border: 2px solid black;
    padding: 5px 20px;
    margin: 0;
}

.character-image{
    height: 150px;
    width: 100px;
}

.character-name{
    z-index: 3;
}

.header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.account-controls{
    display: flex;
    flex-direction: column;
}

.display-1{
    margin: 0 1em 0 0 ;
}